.news-feed-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  overflow-y: scroll;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
}

.input-container input {
  outline: none;
  border: 0px;
  padding: 5px 0px 5px 10px;
  font-size: 15px;
}

.input-container button {
  font-size: 15px;
  padding: 5px;
}

/* .card-container {
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

.publisher {
  font-size: 10px;
}

.readmore {
  color: cadetblue;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
